<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1 class="display-1">Vos réservations</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @my_bookings.each do |booking| %>
      <% car = Car.find(booking.car_id) %>
      <div class="col-md-4">
        <div class="card-large mb-2">
          <div class="card-block p-3">
            <% if car.photo.key.present? %>
              <%= cl_image_tag booking.car.photo.key, crop: :fill, class:"car_pic card-img-top" %>
            <% else %>
              <%= image_tag("unknown.jpg", class:"car_pic card-img-top") %>
            <% end %>
            <p class="card-title" style="font-size: 26px;">Address: <%= car.address %></p>
            <p class="card-title" style="font-size: 26px;"><span class="font-weight-bold">Model:</span> <%= car.model %></p><br>
            <p class="card-title" style="font-size: 26px;"><span class="font-weight-bold">Prix ​​total:</span> <%= booking.total_price %> Euros</p>

            <div class="d-flex justify-content-center link_list">
              <%= link_to 'Verifier ma location', booking, class: "btn btn-info rounded-pill p-2" %> <br>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="text-center">
      <%= link_to "Retour aux vehicules", cars_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
  <br>
  <br>
