<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h2 class="display-1 pt-5">Mes demandes</h2>
  </div>
</div>

  <h1 class="text-center">Faire une réservation pour <%= @car.brand %></h1>
<div class="container d-flex flex-column p-4 mb-4 shadow w-50 mx-auto">
  <h2 class="text-center">Produit : <strong><%= @car.brand %></strong></h2>
  <p class="text-center">Model : <%= @car.model %>
    <div class="row">
      <%= simple_form_for [ @car, @booking ] do |f| %>
        <%= f.input  :starts_at, label: 'Date de début souhaitée' %>
        <%= f.input :ends_at, label: 'Date de fin souhaitée'  %>
        <div class="text-center">
          <%= f.submit "Book!", class: "btn btn-primary w-50" %><br>
          <%= link_to "Back to All cars", cars_path, class: "btn btn-primary"  %>
          <%= link_to "Back to your Booking", bookings_path(@booking), class: "btn btn-primary"  %>
        </div>
      <% end %>
    </div>
</div>
