<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
<% car = Car.find(@booking .car_id) %>
   <h2 class="display-1 pt-5">Votre reservation pour <%= car.brand %></h2>
  </div>
</div>

<div class="container mb-5">
  <div class="row booking_container">
    <div class="col-4">
      <% if car.photo.key.present? %>
        <%= cl_image_tag car.photo.key, crop: :fill, class:"booking_product_pic mx-auto" %>
      <% else %>
        <%= image_tag("unknown.jpg", class:"booking_product_pic mx-auto") %>
      <% end %>
    </div>
    <div class="show_booking col-6">
      <p style="font-size: 26px;"><span class="font-weight-bold">Marque: </span><%= car.brand  %></p>
      <p style="font-size: 26px;"><span class="font-weight-bold">Modél: </span><%= car.model  %></p>
      <p style="font-size: 26px;"><span class="font-weight-bold">A partir de: </span><%= @booking.starts_at.strftime("%e-%m-%Y")  %></p>
      <p style="font-size: 26px;"><span class="font-weight-bold">Jusqu'au: </span><%= @booking.ends_at.strftime("%e-%m-%Y")  %></p>
      <p style="font-size: 26px;"><span class="font-weight-bold">Addresse: </span><%= car.address  %></p>
      <p style="font-size: 26px;"><span class="font-weight-bold">Total Price: </span><%= @booking.total_price %> Euros.</p>
    <%= link_to 'Retour à vos réservations', bookings_path, class: "btn btn-warning btn-lg mb-2" %>
    </div>
  </div>
</div>
