<%= link_to car do %>
  <% if car.photo.key.nil? %>
    <%= image_tag "no-image.png", class:"img-fluid width: 50% height: auto" %>
  <% else %>
    <%= cl_image_tag car.photo.key, crop: :fill, class:"img-fluid width: 50% height: auto" %>
  <% end %>
  <div class="map-card">
    <p><span class="font-weight-bold" ><i class="fa fa-user"></i></span>  <%= car.brand %></p>
    <p><span class="font-weight-bold"><%= car.price_per_day %>€/Jour </span></p>
  </div>
<% end %>
