<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1 class="display-1 pt-5">Voitures disponibles</h1>
  </div>
</div>

<div class="container">
  <div class="row ">
    <% @cars.each do |car| %>
      <div class="col-md-4">
        <div class="card-large mb-2">
          <div class="shadow card-block">
            <% if car.photo.attached? %>
              <%= cl_image_tag car.photo.key, class: 'car_pic card-img-top' %>
            <% else %>
            <%= image_tag("unknown.jpg", class:"car_pic card-img-top") %>
            <% end %>
            <h5 class="card-title "><%= link_to car.brand, car_path(car) %></h5>
            <p class="card-text "><%= car.price_per_day %> €/ jour</p>
            <%= link_to "Fiche détails", car, class: "rounded-pill btn btn-outline-warning mb-4" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
