<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
   <h1 class="display-1 "><%= @car.brand %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if @car.photo.attached? %>
          <%= cl_image_tag @car.photo.key, class: 'car_pic' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h1 class="card-text">Marque: <%= @car.brand %></h1><br>
        <p style="font-size: 20px;">Modél: <%= @car.model %></p><br>
        <p style="font-size: 20px;">Année de production: <%= @car.year_of_production %></p><br>
        <p style="font-size: 20px;">Adresse: <%= @car.address %></p><br>
        <p style="font-size: 20px;">Prix: <%= @car.price_per_day %>€/jour </p>
      </div>
    </div>
  </div>
</div>

<div class="text-decoration-none text-center">
    <%= link_to "Réserver", "/cars/#{params[:id]}/bookings/new", class: "btn btn-outline-primary btn-lg" %>
    <%= link_to "Retour aux vehicules", cars_path, class: "btn btn-outline-primary btn-lg" %>
</div>
<br>
<br>
